#content-div {
    max-width: 1600px;
    margin: 0 auto;
}

nav a {
    text-align: center;
    color: #80DED9;
    text-decoration: none;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

body {
    background-color: #E0A890;
}

header {
    background-color: #6B4D57;
}

nav a:hover {
    background-color: #3C787E;
    color: #6B4D57;
}

.book, .join {
    background-color: #80DED9;
    color: #6B4D57;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #3C787E;
    color: #6B4D57;
}

#background {
    background-color: #3C787E;
}

.msg{
    background-color: #3C787E;
}

footer p {
    background-color: #6B4D57;
    color: #3C787E;
    font-size: 1.2em;
}

.home-title {
    color: #6B4D57;
}

h4 {
    color: #6B4D57;
}


.msg h2 {
    color: #E0A890;
}

.msg p {
    color: #E0A890;
}

footer {
    color: #3C787E;
}

footer a {
    color: #3C787E;
    text-decoration: none;
}

footer a:hover {
    color: #80DED9;
}
.icon {
    width: 80px;
}

.logo {
    width: 80px;
}

#hero-img {
    width: 100%;
}

footer p a:hover {
    text-decoration: underline;
}